/* #region DESKTOP VERSION */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.block-style {
  display: block;
}

/* #endregion */
